<!DOCTYPE html>
<html>
<head>
	<title>help...</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="javascript canvas para treino HELP..."/>
    <meta name="author" content="Sérgio Abdala..."/>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<h1>help jogo javascript....</h1>

	<div class="row">
		<h2 class="col-xs-12">configurações do personagem / spriteSheet</h2>

		<div class="col-xs-2 col-md-6 col-lg-4">
			<h3>sprite simples um skin </h3>
			<img src="img/passaros01.png">
			<p>colunas: 3 / linhas: 4</p>
		</div>

		<div class="col-xs-2 col-md-6 col-lg-4">
			<h3> sprite grupo 8 skins</h3>
			<img src="img/players.png">
			<p>
				colunas: 12 / linhas: 8 <br>
				<strong>nessa sprite configurar:</strong> <br>
				grCol = grupo coluna ou seja a qual grupo de coluna pertence o skin desejado;<br>
				grLin =  grupo linha ou a qual grupo de linhas pertence o skin desejado;<br>
				nFrames = quantas frames possui o skin refere-se as colunas;<br>
				direcao = em qual direção esta o skin refere-se as linhas;	
			</p>
		</div>


	</div>
		
</body>
</html>