<!DOCTYPE html>
<html>
<head>
	<title>jogo javascript para fins academicos...</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="javascript canvas para treino..."/>
    <meta name="author" content="Sérgio Abdala..."/>
	<meta charset="utf-8"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.0/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="col-xs-12 col-md-12 col-lg-12" id="divCnv">
		<canvas id="principal" class="col-xs-12 col-md-12 col-lg-12"></canvas>
	</div>
</body>
	<script type="text/javascript" src="js/teclado.js"></script>
	<script type="text/javascript" src="js/sprites.js"></script>
	<script type="text/javascript" src="js/player.js"></script>
	<script type="text/javascript" src="js/npc.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</html>